/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */

.singleNews {
    @include mi.ontenerWidth(375, 335);
    @include mi.marginPercent(375, 60, auto, 0, auto);
}

.brdSingleCat {
    width: 100%;
    height: 1px;
    @include mi.marginPercent(375, 16, auto, 16, auto);
    background: #B1B1B1;
}

.cntSingleCat {

    h1,
    h2 {
        @include mi.fontSizePc(14);
        @include mi.lineheight(10, 15);
        @include mi.letterSpacing(0);
        @include mi.marginPercent(335, 0, auto, 8, auto);
    }

    p,
    figure {
        @include mi.fontSizePc(12);
        @include mi.lineheight(10, 15);
        @include mi.letterSpacing(0);

    }

    p+h1 {
        @include mi.marginPercent(335, 24, auto, 8, auto);
    }

    p+h2 {
        @include mi.marginPercent(335, 22, auto, 8, auto);
    }

    p+h3 {
        @include mi.marginPercent(335, 20, auto, 8, auto);
    }

    p+h4 {
        @include mi.marginPercent(335, 16, auto, 8, auto);
    }

    p+p {
        @include mi.marginPercent(335, 12, auto, 0, auto);
    }

    img {
        max-width: 100%;
        width: auto;
        height: auto;
        @include mi.marginPercent(335, 8, auto, 8, auto);
    }

    iframe {
        @include mi.marginPercent(335, 8, auto, 8, auto);
        width: 100%;
    }
}

//
.infoSinglePager {
    @include mi.ontenerWidth(355, 335);
    @include mi.marginPercent(355, 20, auto, 0, auto);
    border-top: 1px solid #D9D9D9;
    @include mi.paddingPercent(355, 20, 0, 10, 0);
}

.pagerTopicsMainSingle {
    width: 100%;
    @include mi.fontSizePc(12);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(0);

    a {
        text-decoration: none;
        color: #EE952D;
    }
}

.moreTopicsArchive {
    @include mi.marginPercent(375, 0, 24, 0, 24);
}

.prevSinglePagerWap {
    @include mi.ontenerWidth(355, 121);

    a {
        background: url(../img/prevSinglePagerWap.svg) no-repeat left center;
        background-size: auto 80%;
        @include mi.paddingPercent(121, 4, 0, 4, 28);
    }
}

.moreTopicsArchive {
    @include mi.ontenerWidth(355, 105);
}

.nextSinglePagerWap {
    @include mi.ontenerWidth(355, 121);
    @include mi.paddingPercent(355, 4, 0, 4, 0);
    text-align: right;

    a {
        background: url(../img/nextSinglePagerWap.svg) no-repeat right center;
        background-size: auto 80%;
        @include mi.paddingPercent(121, 4, 28, 4, 0);
    }
}