/* ==========================================================================
useï¼†nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.mainIndex {
    overflow-x: clip;
}

.swiper-slide {
    aspect-ratio: 1080 / 1350;
    position: relative;
    width: 100%;
    overflow: hidden;

    img,
    video {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        object-fit: cover;
    }
}