/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.bgCntPageLxn {
    background: linear-gradient(to right, #e8c6d9, #f5e3bc);
}
.mainIndex {
    overflow-x: clip;
}

.swiper-wrapper {
    align-items: stretch;
}
.swiper-slide {
    position: relative;
    width: 100%;
    height: auto;
    background: #fff;
    a {
        height: 100%;
        display: flex;
        align-items: center;
    }
    img,
    video {
        display: block;
        margin: auto;
        object-fit: cover;
    }
}
