/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.nowNewsCnt {
    @include mi.marginPercent(375, 40, auto, 0, auto);
    @include mi.paddingPercent(375, 40, 0, 40, 0);
    @include mi.ontenerWidth(375, 355);
    @include mi.kadomaru(8px);
    position: relative;

}

.h2NowNewsCnt {
    @include mi.fontSizePc(16);
    @include mi.letterSpacing(0);
    line-height: 1.5;
}

.txtNowNewsCntTop {
    @include mi.marginPercent(375, 12, 0, 0, 0);
    @include mi.fontSizePc(14);
    @include mi.letterSpacing(0);
    line-height: 1.5;
}

.h2NowNewsCnt02 {
    @include mi.marginPercent(375, 26, 0, 0, 0);
}

.gigh2NowNewsCnt02 {
    @include mi.fontSizePc(22);
    @include mi.letterSpacing(0);
}

.ulNowNewsCnt {
    @include mi.marginPercent(375, 12, auto, 0, auto);
    @include mi.ontenerWidth(375, 335);
}

.liNowNewsCnt {
    width: 100%;
    @include mi.fontSizePc(14);
    @include mi.letterSpacing(0);
    line-height: 1.5;
    display: flex;
    justify-content: center;

    &:nth-child(n+2) {
        @include mi.marginPercent(335, 8, 0, 0, 0);
    }
}

.h3liNowNewsCnt {
    @include mi.fontSizePc(14);
    @include mi.letterSpacing(0);
    line-height: 1.5;
    white-space: nowrap;
}

.txtliNowNewsCnt {
    @include mi.fontSizePc(14);
    @include mi.letterSpacing(0);
    line-height: 1.5;
    white-space: nowrap;
}

.txtNowNewsCnt {
    @include mi.marginPercent(375, 8, 0, 0, 0);
    @include mi.fontSizePc(14);
    @include mi.letterSpacing(0);
    line-height: 1.25;
}

.nowNewsCnt img {
    position: absolute;
    right: 0;
    bottom: 0;
    @include mi.ontenerWidth(375, 76.4);
    animation: 4s fuwafuwa infinite;
}

@keyframes fuwafuwa {

    0%,
    100% {
        transform: translate(5px, 0) rotate(4deg);
    }

    50% {
        transform: translate(0px, 10px) rotate(0deg);
    }
}

.topNews {
    @include mi.paddingPercent(375, 40, 0, 34, 0);
    @include mi.marginPercent(375, 40, auto, 0, auto);
    @include mi.ontenerWidth(375, 355);
    @include mi.kadomaru(8px);
}

.topNewsTitle {}

.h2TopNews {
    @include mi.fontSizePc(22);
    @include mi.lineheight(22, 22);
    @include mi.letterSpacing(0);
    color: #EE952D;
    font-weight: 500;
}

.brdTopNews {
    @include mi.ontenerWidth(355, 81);
    height: 2px;
    background: #F4DB17;
    @include mi.marginPercent(355, 8, auto, 0, auto);
}

.rybyTopNews {
    @include mi.marginPercent(355, 4, auto, 0, auto);
    @include mi.fontSizePc(14);
    @include mi.lineheight(14, 14);
    @include mi.letterSpacing(100);
    text-shadow: 0 0 3px #E9483E;
}


.topNewsLoop {
    @include mi.marginPercent(355, 24, auto, 0, auto);
    @include mi.ontenerWidth(355, 335);
}

.ulTopNewsLoop {
    width: 100%;
}

.liTopNewsLoop {
    @include mi.paddingPercent(335, 11, 0, 0, 0);

    &:after {
        @include mi.marginPercent(335, 11, auto, 0, auto);
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        background: linear-gradient(to right, #f7e22b, #f5a14d, #e65d91, #df7a66);
    }

}

.btnTopNewsLoop {
    text-decoration: none;
    color: #241A08;
}

.iconbtnTopNewsLoop {
    @include mi.ontenerWidth(335, 48);
    aspect-ratio: 1 /1;

    img {
        max-width: 100%;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.secBtnTopNewsLoop {
    @include mi.ontenerWidth(335, 279);
}

.dateTopNewsLoop {}

.timeTopNewsLoop {
    @include mi.fontSizePc(10);
    @include mi.letterSpacing(0);
}

.newTopAppivalTop {
    @include mi.fontSizePc(10);
    @include mi.letterSpacing(0);
    color: #FF0004;
    font-weight: 700;
}

.catTopNewsLoop {
    @include mi.marginPercent(279, 0, 8, 0, 8);
    @include mi.fontSizePc(10);
    @include mi.letterSpacing(0);
}

.h3TopNewsLoop {
    @include mi.marginPercent(279, 8, 0, 0, 0);
    @include mi.fontSizePc(12);
    @include mi.letterSpacing(0);
    line-height: 1.25;
}

.readmoneTopNewsLoop {
    @include mi.marginPercent(335, 26, auto, 0, auto);
    @include mi.ontenerWidth(375, 335);
}

.btnReadmoneTopNewsLoop {
    width: 100%;
    @include mi.kadomaru(5px);
    aspect-ratio: 335/48;
    @include mi.fontSizePc(16);
    @include mi.letterSpacing(0);
    background: #FBEBEC;
    text-decoration: none;
    color: #EB53A2;
}