/* ==========================================================================
useï¼†nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.calendarLxn {
    @include mi.marginPercent(375, 80, auto, 80, auto);
    aspect-ratio: 1080 / 1350;
}



.h2Calendar {
    @include mi.fontSizePc(20);
    @include mi.lineheight(20, 25);
    @include mi.letterSpacing(40);
}

.main_sidebar_eventcalendar_lxc {
    @include mi.marginPercent(375, 40, auto, 0, auto);
    width: 100%;
}

.title_main_sidebar_eventcalendar_lxc {
    @include mi.ontenerWidth(375, 355);
    justify-content: space-between;
    margin: auto;

    .prev_sidebar_eventcalendar {
        @include mi.fontSizePc(16);
        @include mi.lineheight(20, 25);
        @include mi.letterSpacing(40);
        cursor: pointer;
        white-space: nowrap;
        width: 15%;
    }

    .momtheventcalendar {
        @include mi.fontSizePc(18);
        @include mi.lineheight(20, 25);
        @include mi.letterSpacing(40);
        @include mi.marginPercent(375, 0, 30, 0, 30);
        white-space: nowrap;
        width: 35%;
        text-align: center;
    }

    .next_sidebar_eventcalendar {
        @include mi.fontSizePc(16);
        @include mi.lineheight(20, 25);
        @include mi.letterSpacing(40);
        cursor: pointer;
        white-space: nowrap;
        width: 15%;
    }
}

.main_sidebar_eventcalendar_cnt {
    @include mi.marginPercent(375, 16, auto, 0, auto);
    @include mi.ontenerWidth(375, 355);
}

.main_sidebar_eventcalendar {
    position: relative;

    table {
        @include mi.fontSizePc(14);
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;

        th,
        td {
            @include mi.fontSizePc(16);
            border: 1px solid #CCC;
            aspect-ratio: 1 / 1;
            height: 50px;
            @include mi.paddingPercent(355, 6, 2, 6, 2);
            border-collapse: collapse;

            img {
                @include mi.marginPercent(50.7142857143, 4, auto, 0, auto);
                width: 100%;
            }

            .logokyujitu {
                width: 60%;
            }

            a {
                text-decoration: underline;
                color: #323232;
            }

            .titleCalendarPosts {
                @include mi.marginPercent(50.7142857143, 4, auto, 0, auto);
                @include mi.fontSizePc(9);
                @include mi.lineheight(20, 25);
                @include mi.letterSpacing(0);
                font-weight: 700;
            }

            .jstitleCalendarPosts {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        th {
            vertical-align: middle;
            font-weight: 700;
            height: 50px;
            @include mi.fontSizePc(16);
        }

        td {
            height: 70px;
            @include mi.fontSizePc(12);
        }

        .sun,
        .sat {
            color: #FF0000;
        }
    }
}



.bgCalendar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgCalendarLxn {
    display: none;
}

.closeCalenda {
    width: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.txtCalendartime {
    @include mi.kadomaru(5px);
    padding: 10px 5px 10px 8px;
    @include mi.fontSizePc(14);
    @include mi.lineheight(20, 25);
    @include mi.letterSpacing(0);
    background: #fff;
    font-weight: 600;
}

.picCalendar {
    @include mi.marginPercent(375, 18, auto, 0, auto);
    @include mi.ontenerWidth(375, 355);
}

.txtCalendarLxnBtm {
    @include mi.ontenerWidth(375, 355);
    @include mi.marginPercent(375, 18, auto, 0, auto);
    @include mi.fontSizePc(10);
    @include mi.lineheight(20, 25);
    @include mi.letterSpacing(0);
}