/* ==========================================================================
useï¼†nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.menuSingle {
    @include mi.marginPercent(375, 40, auto, 0, auto);
}

.menuDetailSingle {
    @include mi.ontenerWidth(375, 335);
    margin: auto;
}

.titleMenuDetailSingle {}

.h2TitleMenuDetailSingle {
    @include mi.fontSizePc(16);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(0);
    @include mi.paddingPercent(335, 0, 0, 8, 0);
    border-bottom: 1px solid #D9D9D9;
}

.thumbsDetailSingle {
    @include mi.marginPercent(335, 12, auto, 0, auto);
    aspect-ratio: 335 / 251;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: auto;
    }
}

.cntSMenu {
    @include mi.marginPercent(335, 24, auto, 0, auto);
    @include mi.fontSizePc(12);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(0);

    h1 {
        @include mi.fontSizePc(16);
        @include mi.lineheight(10, 15);
        @include mi.letterSpacing(0);
        @include mi.marginPercent(335, 24, auto, 0, auto);
    }

    h2 {
        @include mi.fontSizePc(14);
        @include mi.lineheight(10, 15);
        @include mi.letterSpacing(0);
        @include mi.marginPercent(335, 16, auto, 0, auto);
    }

    h3 {
        @include mi.fontSizePc(12);
        @include mi.lineheight(10, 15);
        @include mi.letterSpacing(0);
        @include mi.marginPercent(335, 8, auto, 0, auto);
    }

    p {
        @include mi.fontSizePc(12);
        @include mi.lineheight(10, 15);
        @include mi.letterSpacing(0);

        &+p {
            @include mi.marginPercent(335, 8, auto, 0, auto);
        }

        &+img {
            @include mi.marginPercent(335, 8, auto, 0, auto);
        }
    }
}

.alertSMenu {
    @include mi.marginPercent(335, 24, auto, 0, auto);
    @include mi.fontSizePc(12);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(0);
}

.alertSMenu02 {
    @include mi.marginPercent(335, 12, auto, 0, auto);
    @include mi.fontSizePc(12);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(0);
}


.btnTitleMenuDetailSingleLxn {
    @include mi.fontSizePc(12);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(0);
}

.ulMenuDetailSingle {
    @include mi.marginPercent(335, 16, auto, 0, auto);
}

.liMenuDetailSingle {
    @include mi.paddingPercent(335, 16, 0, 16, 0);
    border-bottom: 1px solid #282828;
}

.h3MenuDetailSingle {
    @include mi.fontSizePc(12);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(0);
}

.txtMenuDetailSingle {
    @include mi.fontSizePc(12);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(0);
}

//
.alertMenu {
    @include mi.marginPercent(335, 8, auto, 0, auto);
    @include mi.fontSizePc(10);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(0);
}

//
.photosMenuDetailSingle {
    @include mi.marginPercent(335, 40, auto, 0, auto);
}

.liPhotosMenuDetailSingle {
    width: 33.33333%;
}

.btnPhotosMenuDetailSingle {
    position: relative;
    aspect-ratio: 1 / 1;
    display: block;
    overflow: hidden;
    width: 100%;

    img {
        position: absolute;
        width: auto;
        height: 100%;
        object-fit: cover;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}

.iconPhotosMenuDetailSingle {
    @include mi.ontenerWidth(111.51, 18.06);
    position: absolute;
    bottom: 5px;
    right: 5px;
}