/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin" as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.singleMenuLxn {
    @include mi.marginPercent(375, 40, auto, 40, auto);
    @include mi.ontenerWidth(375, 355);
    @include mi.kadomaru(8px);
    @include mi.paddingPercent(375, 20, 0, 20, 0);
}

.menuSingle {
}

.menuDetailSingle {
    @include mi.ontenerWidth(355, 335);
    margin: auto;
}

.titleMenu {
    border-bottom: 1px solid #d9d9d9;
    @include mi.paddingPercent(335, 0, 0, 8, 0);
}

.iconSignleMenu {
    @include mi.ontenerWidth(335, 48);
}

.h2TitleMenuDetailSingle {
    @include mi.fontSizePc(16);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(0);
    @include mi.ontenerWidth(335, 268);
}

.thumbsDetailSingle {
    @include mi.marginPercent(335, 12, auto, 0, auto);

    position: relative;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.cntSMenu {
    @include mi.marginPercent(335, 16, auto, 0, auto);
    @include mi.fontSizePc(12);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(0);

    h1 {
        @include mi.fontSizePc(16);
        @include mi.lineheight(10, 15);
        @include mi.letterSpacing(0);
        @include mi.marginPercent(335, 24, auto, 0, auto);
    }

    h2 {
        @include mi.fontSizePc(14);
        @include mi.lineheight(10, 15);
        @include mi.letterSpacing(0);
        @include mi.marginPercent(335, 16, auto, 0, auto);
    }

    h3 {
        @include mi.fontSizePc(12);
        @include mi.lineheight(10, 15);
        @include mi.letterSpacing(0);
        @include mi.marginPercent(335, 8, auto, 0, auto);
    }

    p {
        @include mi.fontSizePc(12);
        @include mi.lineheight(10, 15);
        @include mi.letterSpacing(0);

        & + p {
            @include mi.marginPercent(335, 8, auto, 0, auto);
        }

        & + img {
            @include mi.marginPercent(335, 8, auto, 0, auto);
        }
    }
}

.alertSMenu {
    @include mi.marginPercent(335, 24, auto, 0, auto);
    @include mi.fontSizePc(12);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(0);
}

.alertSMenu02 {
    @include mi.marginPercent(335, 12, auto, 0, auto);
    @include mi.fontSizePc(12);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(0);
}

.btnTitleMenuDetailSingleLxn {
    @include mi.fontSizePc(12);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(0);
}

.ulMenuDetailSingle {
    @include mi.marginPercent(335, 16, auto, 0, auto);
}

.liMenuDetailSingle {
    @include mi.paddingPercent(335, 16, 0, 16, 0);
    border-bottom: 1px solid #282828;
}

.h3MenuDetailSingle {
    @include mi.fontSizePc(12);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(0);
}

.txtMenuDetailSingle {
    @include mi.fontSizePc(12);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(0);
}

//
.alertMenu {
    @include mi.marginPercent(335, 8, auto, 0, auto);
    @include mi.fontSizePc(10);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(0);
}

//
.photosMenuDetailSingle {
    @include mi.marginPercent(335, 40, auto, 0, auto);
}

.liPhotosMenuDetailSingle {
    width: 33.33333%;
}

.btnPhotosMenuDetailSingle {
    position: relative;
    aspect-ratio: 1 / 1;
    display: block;
    overflow: hidden;
    width: 100%;

    img {
        position: absolute;
        width: auto;
        height: 100%;
        object-fit: cover;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}

.iconPhotosMenuDetailSingle {
    @include mi.ontenerWidth(111.51, 18.06);
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.ulShareSingleNewsBoxFx {
    @include mi.marginPercent(335, 40, 0, 0, auto);
}

.liShareSingleNewsBox {
    @include mi.ontenerWidth(335, 20);

    &:nth-child(n + 2) {
        @include mi.marginPercent(335, 0, 0, 0, 10);
    }
}
