/* ==========================================================================
use＆nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */

.menuGenre {
    position: relative;
    @include mi.marginPercent(375, 10, auto, 0, auto);
    @include mi.ontenerWidth(375, 355);

}

.btnMenuGenre {
    cursor: pointer;
    @include mi.paddingPercent(355, 12, 0, 12, 0);
    @include mi.kadomaru(8px);
    transition-duration: 0.5s;
}

.btnMenuGenre.on {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btnMenuGenre {
    @include mi.ontenerWidth(355, 355);
}

.btnMenuGenreFx {
    @include mi.ontenerWidth(355, 335);
    margin: auto;
}

.h2btnMenuGenre {
    @include mi.ontenerWidth(335, 320);
}

.brdBtnMenuGenre {
    position: relative;
    @include mi.ontenerWidth(335, 14);
    aspect-ratio: 14 / 14;
}

.brdBtmBtnMenuGenre {
    height: 3px;
    width: 14px;
    @include mi.kadomaru(3px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #EB53A2;
    @include mi.kadomaru(1px);
}

.brdBtmBtnMenuGenre01 {}

.brdBtmBtnMenuGenre02 {
    transform: rotate(90deg);
}

.btnMenuGenre.off {
    .brdBtmBtnMenuGenre01 {}

    .brdBtmBtnMenuGenre02 {
        transform: rotate(90deg);
    }
}

.btnMenuGenre.on {
    .brdBtmBtnMenuGenre01 {}

    .brdBtmBtnMenuGenre02 {
        opacity: 0;
    }
}

//
.menuGenreLxn {
    position: absolute;
    left: 0;
    width: 100%;
    background: #FBEBEC;
    z-index: 9;
    display: none;
    @include mi.paddingPercent(375, 20, 0, 20, 0);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.menuGenreLxnBx {
    @include mi.ontenerWidth(355, 335);
    @include mi.marginPercent(375, 0, auto, 0, auto);
    @include mi.paddingPercent(375, 20, 0, 20, 0);
    background: #fff;
    @include mi.kadomaru(8px);
}

.ulMenuGenreLxnBx {
    @include mi.ontenerWidth(335, 315);
    margin: auto;
}

.liMenuGenreLxnBx {
    &:nth-child(n+2) {
        @include mi.marginPercent(315, 24, auto, 0, auto);
    }

}

.btnMenuGenreLxnBx {
    cursor: pointer;
}

.h2BtnMenuGenreLxnBx {
    @include mi.fontSizePc(16);
    @include mi.lineheight(auto, auto);
    @include mi.letterSpacing(0);
}

.brdMenuGenreLxnBx {
    position: relative;
    @include mi.ontenerWidth(315, 14);
    aspect-ratio: 14 / 14;
}

.brdbrdMenuGenreLxnBx {
    height: 3px;
    width: 14px;
    @include mi.kadomaru(3px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #EE952D;
}

.brdBtmBtnMenuGenre01 {}

.brdBtmBtnMenuGenre02 {
    transform: rotate(90deg);
}

.btnMenuGenreLxnBx.off {
    .brdbrdMenuGenreLxnBx01 {}

    .brdbrdMenuGenreLxnBx02 {
        transform: rotate(90deg);
    }
}

.btnMenuGenreLxnBx.on {
    .brdbrdMenuGenreLxnBx01 {}

    .brdbrdMenuGenreLxnBx02 {
        opacity: 0;
    }
}

.navSubMenuGenreLxn {
    display: none;
    @include mi.marginPercent(315, 0, auto, 0, auto);
}

.liSubMenuGenreLxn {
    @include mi.ontenerWidth(315, 155);
}

.btnSubMenuGenreLxn {
    width: 100%;
    @include mi.paddingPercent(151, 8, 0, 8, 0);
    border-bottom: 1px solid #282828;
    text-decoration: none;
}

.txtBtnSubMenuGenreLxn {
    @include mi.ontenerWidth(151, 126);
    @include mi.fontSizePc(10);
    @include mi.lineheight(auto, auto);
    @include mi.letterSpacing(0);
}

.iconBtnSubMenuGenreLxn {
    @include mi.ontenerWidth(335, 36);
}

.menuGenre+.nowNewsCnt {
    @include mi.marginPercent(315, 10, auto, 0, auto);
}