/* ==========================================================================
useï¼†nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.secBomCafeDate {
    @include mi.marginPercent(375, 64, auto, 0, auto);
    @include mi.ontenerWidth(375, 335);
}

.h2BomCafeDate {
    @include mi.fontSizePc(22);
    @include mi.lineheight(22, 22);
    @include mi.letterSpacing(0);
}

.iconH2BomCafeDate {
    @include mi.paddingPercent(335, 0, 0, 0, 28);
    background: url(../img/about/iconH2BomCafeDate.svg) no-repeat left center;
    background-size: auto 100%;
}

.h3BomCafeDate {
    @include mi.marginPercent(335, 24, auto, 0, auto);
    @include mi.fontSizePc(16);
    @include mi.lineheight(16, 16);
    @include mi.letterSpacing(0);
}

.bigBomCafeDate {
    @include mi.fontSizePc(22);
}

.txtBomCafeDate {
    @include mi.marginPercent(335, 24, auto, 0, auto);
    @include mi.fontSizePc(12);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(50);
}