/* ==========================================================================
useï¼†nameSpace
========================================================================== */
@use "../../Functions/mixin"as mi;

/* ==========================================================================
LAYOUT
========================================================================== */
.secBomCafePrice {
    @include mi.marginPercent(375, 64, auto, 0, auto);
    @include mi.ontenerWidth(375, 335);
}

.h2BomCafePrice {
    @include mi.fontSizePc(22);
    @include mi.lineheight(22, 22);
    @include mi.letterSpacing(0);
}

.iconH2BomCafePrice {
    @include mi.paddingPercent(335, 0, 0, 0, 28);
    background: url(../img/about/iconH2BomCafePrice.svg) no-repeat left center;
    background-size: auto 100%;
}

//
.thBomCafePrice {
    @include mi.marginPercent(335, 24, auto, 0, auto);
    @include mi.radius(14px, 14px, 0, 0);
    @include mi.paddingPercent(335, 12, 0, 12, 0);
}

.h3ThBomCafePrice {
    @include mi.fontSizePc(14);
    @include mi.lineheight(22, 22);
    @include mi.letterSpacing(0);
    width: 33.333333%;
}

.tdBomCafePrice {
    @include mi.paddingPercent(335, 12, 0, 12, 0);
    border-bottom: 1px solid #D9D9D9;
}

.coseBomCafePrice {
    width: 33.33333333%;
}

.timeBomCafePrice {
    width: 33.33333333%;
}

.enBomCafePrice {
    width: 33.33333333%;
}

.mainTdeBomCafePrice {
    @include mi.fontSizePc(14);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(0);
}

.subTdeBomCafePrice {
    @include mi.marginPercent(111.67, 4, auto, 0, auto);
    @include mi.fontSizePc(10);
    @include mi.lineheight(10, 15);
    @include mi.letterSpacing(0);
}