.cl_EE945C {
    color: #EE945C;
}

.cl_282828 {
    color: #282828;
}

.bg_FBEBEC {
    background: #FBEBEC;
}

.bg_F4DB17 {
    background: #F4DB17;
}

.bg_EF1A79 {
    background: #EF1A79;
}

.bg_EB53A2 {
    background: #EB53A2;
}

.bg_fff {
    background: #fff;
}

.cl_EB53A2 {
    color: #EB53A2;
}

.cl_020202 {
    color: #020202;
}

.cl_fff {
    color: #fff;
}

.cl_E9483E {
    color: #E9483E;
}

.cl_FF0000 {
  color: #FF0000;
}

.bg_D23737 {
  background-color: #D23737;
}

.bg_CB644A {
  background-color: #CB644A;
}

.cl_241A08 {
  color: #241A08;
}

.bg_A01D10 {
  background-color: #A01D10;
}

.cl_EE952D {
  color: #EE952D;
}

.bg_EC5EA5 {
  background-color: #EC5EA5;
}

.bg_B1B1B1 {
  background-color: #B1B1B1;
}

.bg_E9483E {
  background-color: #E9483E;
}

.bg_2F99F0 {
  background-color: #2F99F0;
}

.bg_FDE351 {
  background-color: #FDE351;
}

.bg_282828 {
  background-color: #282828;
}
