.cl_EE945C {
    color: #EE945C;
}

.cl_282828 {
    color: #282828;
}

.bg_FBEBEC {
    background: #FBEBEC;
}

.bg_F4DB17 {
    background: #F4DB17;
}

.bg_EB53A2 {
    background: #EB53A2;
}

.bg_fff {
    background: #fff;
}

.cl_EB53A2 {
    color: #EB53A2;
}

.cl_E9483E {
    color: #E9483E;
}