.cl_fff {
    color: #fff;
}

.cl_282828 {
    color: #282828;
}

.cl_265278 {
    color: #265278;
}

.cl_467BBE {
    color: #467BBE;
}

.cl_A01D10 {
    color: #A01D10;
}

.cl_325530 {
    color: #325530;
}

.bg_000 {
    background: #000;
}

.bg_B1B1B1 {
    background: #B1B1B1;
}

.bg_265278 {
    background: #265278;
}

.bg_FBEBEC {
    background: #FBEBEC;
}

.bg_282828 {
    background: #282828;
}

.bg_A01D10 {
    background: #A01D10;
}

.bg_171717 {
    background: #171717;
}

.cl_010002 {
    color: #010002;
}

.t_right {
    text-align: right;
}

.undernone {
    text-decoration: none;
}

.bg_325530 {
    background: #325530;
}